{
  "presets": [
    ["env", {
      "targets":
      {
        "node": "current"
      }
    }],
    "stage-0",
    "react",
    "jest"
  ],
  "plugins": [
    "loadable-components/babel",
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "lodash"
  ],
  "env": {
    "production": {
      "plugins": [
        "add-module-exports",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
