//Palletes that we use in Xsigma style guide by Inti Code team

$x_blue_1 = #1565C0
$x_blue_2 = #039BE5
$x_blue_3 = #1E88E5
$x_blue_4 = #4fc3f7

$x_grey_1 = #212121
$x_grey_2 = #424242
$x_grey_3 = #757575
$x_grey_4 = #E0E0E0

$x_amber_1 = #FFB300
$x_red_1   = #FF1744