.loading
  height 95%
  justify-content center
  align-items center
  display flex
  padding 12px

.image
  width 100%
  text-align center
  padding-top 15px

.sideBarMenuList
  display flex
  justify-content left
  align-items center

.sideBarMenuTitle
  padding-left 12px
  font-size 14px

.sideBarSubMenu
  div
    font-size 13px
    padding-left 17px

.sideBarMenuIcon
  color #6A6A6A !important

.sideBar
  height 100%
  overflow hidden

.sideBarScroll
  height 100%
  overflow-y: scroll

.sideBarScroll::-webkit-scrollbar-track
  background-color none

.sideBarScroll::-webkit-scrollbar
  width: 6px
  background-color none

.sideBarScroll::-webkit-scrollbar-thumb
  background-color #CCCCCC
